<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}">
    <title>Blogz{% block title %}{% endblock %}</title>
</head>
<body>
    <a href="/blog"><h1>Blogz</h1></a>
    <nav>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/newpost">Add a Blog Entry</a>
    </nav>
<!-- 	TODO logic to check for logged in user and display username if so and login/logout, etc. -->
    <ul class="profile">
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
    {% block content %} 
    
    {% endblock %}
</body>
</html>